:root {
  --baseBlue: #001945;
  --baseRed: #ff0000;
  --baseWhite: #ffffff;

  --medium: #4e5d78;
  --light: #8a94a6;
  --disabled: #b0b7c3;

  --info: #00b1ff;
  --infoHover: #00a1ff;
  --infoBorder: #0088ff;

  --gutter0: 4px;
  --gutter1: 8px;
  --gutter2: 16px;

  --radius: 3px;

  --fontSize: 12px;
  --smallFontSize: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

html,
body {
  width: 260px;
  margin: 0;
  font-size: var(--fontSize);
  color: var(--baseBlue);
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
  outline: none;
  background-color: var(--info);
  color: var(--baseWhite);
  padding: var(--gutter1) var(--gutter2);
  border-radius: var(--radius);
}
button:hover {
  background-color: var(--infoHover);
}

select,
input[type='text'],
textarea {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  outline: none;
  margin: 0;
  border-radius: var(--radius);
  border: 1px solid var(--light);
  width: 124px;
  font-size: var(--fontSize);
}
textarea {
  height: 62px;
  resize: vertical;
}

section.h {
  display: none !important;
}

#sectionLogo,
#sectionError {
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#sectionLogo > div {
  width: 120px;
  height: 120px;
  background-image: url('../images/foleon_logo_2.png');
  background-position: center;
  background-size: 105%;
  background-color: var(--baseWhite);
  border: 6px solid var(--baseRed);
  border-radius: 6px;
}

#sectionError {
  color: var(--baseWhite);
}
#sectionError > div {
  max-height: 100%;
  overflow: auto;
}

.bodyWrap {
  background-color: var(--baseBlue);
  padding: var(--gutter1);
}

.bodyWrapTitle {
  background-color: var(--baseBlue);
  color: var(--baseWhite);
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: var(--gutter1);
  font-weight: bold;
}

#titleLink,
#titleLink:visited {
  text-decoration: none;
  color: inherit;
}
#titleLink:hover {
  text-decoration: underline;
}

#settLink {
  font-size: 10px;
  float: right;
  margin-top: 4px;
  cursor: pointer;
}
#settLink:hover {
  text-decoration: underline;
}
#settLink.active {
  color: var(--info);
}

.card {
  background-color: var(--baseWhite);
  padding-bottom: var(--gutter1);
  margin-bottom: var(--gutter1);
  border-radius: var(--radius);
}

.bodyWrap .card:last-child {
  margin-bottom: 0;
}

.cardTitle {
  color: var(--baseWhite);
  background-color: var(--baseRed);
  padding: var(--gutter0) var(--gutter1);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: var(--radius) var(--radius) 0 0;
}

.cardSubtitle {
  font-size: var(--smallFontSize);
}

p {
  padding: 0 var(--gutter1);
  margin: var(--gutter1) 0;
}

.card p:last-child {
  margin-bottom: 0;
}

#info span {
  color: var(--medium);
}

.lbl {
  display: inline-block;
  min-width: 100px;
  vertical-align: middle;
}

.pButton {
  border-top: 1px solid var(--light);
  padding-top: 8px;
  position: relative;
}

.bigButton {
  display: block;
  width: 100%;
}

#previewer {
  width: 93px;
}

#owAppWrap {
  border-bottom: 1px dashed var(--light);
  padding-bottom: var(--gutter1);
}
#owOpenMore {
  position: absolute;
  height: calc(100% - var(--gutter1));
  width: 32px;
  padding-top: 6px;
  right: var(--gutter1);
  top: var(--gutter1);
  /*border-left: 1px solid var(--infoBorder);*/
  background-color: var(--infoHover);
  border-radius: 0 var(--radius) var(--radius) 0;
  color: var(--baseWhite);
  text-align: center;
  cursor: pointer;
}
#owMoreWrap {
  display: block;
  position: absolute;
  bottom: calc(100% - var(--gutter1) - 3px);
  right: var(--gutter1);
  background-color: var(--infoHover);
  color: var(--baseWhite);
  text-align: right;
  border-radius: var(--radius) var(--radius) 0 0;
}
#owMoreWrap.h {
  display: none !important;
}
#owMoreWrap > span {
  padding: var(--gutter1);
  display: block;
  cursor: pointer;
}
#owMoreWrap > span:hover {
  background-color: var(--infoBorder);
}

.favRow {
  display: flex;
  justify-content: space-between;
}

.favRowLink,
.favRowLink:visited {
  color: var(--baseBlue);
}
.favRowLink:hover {
  color: var(--infoHover);
}

.favRowX {
  color: var(--baseBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: var(--gutter0);
}
.favRowX:hover {
  color: var(--infoHover);
}

.favLinkIndex {
  color: var(--baseWhite);
}
